
 .cards-wrapper {
   background-color:gray; 
   display: flex;
   padding: 40px;
   margin: 8px;
   justify-content: space-around;
 }
 .card-box {
   background-color: blue; 
   padding: 20px;
   display: flex;
   flex-direction: column;
   border-radius: 10px;
   align-items: center;
 }
 .card-image {
   width: 150px;
   height: 180px;
   object-fit: cover;
   border-radius: 6px;
 }
 .card-button {
   padding: 8px 20px;
   margin: 10px;
   cursor: pointer;
   border-radius: 16px;
   border: none;
   background-color:gray; 
   transition: 0.3s ease;
   font-weight: bold;
 }
 .card-button:hover {
   background-color:burlywood;
   color: white;
 }
