 .navbar {
   width: 98%;
   background-color:blue;
   color: white;
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .navbar-title {
   font-size: 24px;
   font-weight: bold;
 }
 .navbar-menu {
   display: flex;
   gap: 40px;
   font-size: 20px;
   list-style: none;
   margin: 0;
   padding: 0;
 }
 .navbar-item {
   padding: 8px;
   cursor: pointer;
   border-radius: 12px;
   transition: 0.3s ease;
 }
 .navbar-item:hover {
   color:red; 
   background-color: white;
 }
